*, 
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  font-family: 'Epilogue', sans-serif;
  max-width:144rem ;
  font-size: 1.8rem;
  margin: 0 auto;
  min-width: 350PX;
}

